body {
  background: rgb(101, 106, 226);
  background: -webkit-gradient(linear, left top, right top, from(rgb(101, 106, 226)), to(rgb(255, 0, 206)));
  background: linear-gradient(90deg, rgb(101, 106, 226) 0%, rgb(255, 0, 206) 100%);
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 0.5fr;
  grid-template-columns: 1fr 0.5fr;
  -ms-grid-rows: 1fr 2rem 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 20rem;
  gap: 2rem;
}

.header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.header > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.header > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.header__foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  background-image: url("../img/taco.jpg");
  background-size: cover;
  background-position: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.header__precio-tacos {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #cbcb25;
}
.header__precio-kombucha {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: #cbcb25;
}
.header__foto-texto {
  background-color: #cbcb25;
  font-size: 1.4rem;
}
.header__precio {
  gap: 0.3rem;
  text-align: center;
  font-size: 2.5rem;
}
.header__precio-tacos, .header__precio-kombucha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__texto {
  font-size: 0.9rem;
}

.tipos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  margin-top: 1rem;
  gap: 1rem;
}

.tipos > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.tipos > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.tipos > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.tipos > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.tipos > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.tipos__enlaces {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}
.tipos__tacos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #cbcb25;
  padding: 0.7rem;
  text-align: center;
}
.tipos__beers {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #cbcb25;
  padding: 0.7rem;
  text-align: center;
}
.tipos__wines {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #cbcb25;
  padding: 0.7rem;
  text-align: center;
}
.tipos__desserts {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #cbcb25;
  padding: 0.7rem;
  text-align: center;
}
.tipos__reservations {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #cbcb25;
  padding: 0.7rem;
  text-align: center;
}

.iconos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}

.iconos > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.iconos > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.iconos > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.iconos > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.iconos__tacos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.24);
}
.iconos__beer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.24);
}
.iconos__wine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.24);
}
.iconos__music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.24);
}
.iconos__nombre {
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

.taco {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  margin-top: 1rem;
}

.taco > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.taco > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.taco__taco {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.taco__imagen {
  padding: 2rem;
  width: 100%;
}
.taco__informacion {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.taco__titulo, .taco__texto {
  font-weight: bold;
}
.taco__titulo {
  margin-bottom: 0.1rem;
}
.taco__texto-superior {
  margin-bottom: 0.1rem;
}
.taco__enlaces {
  margin-top: 0.4rem;
}
.taco__enlace {
  padding: 1rem;
  text-align: center;
  display: inline-block;
  width: 5rem;
  background-color: #cbcb25;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 500px) {
  .header {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
  }
  .header > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .header > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .header > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .header > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .header__foto {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .header__precio-tacos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .header__precio-kombucha {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .tipos {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .tipos > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .tipos__tacos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .tipos__beers {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .tipos__wines {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .tipos__desserts {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .tipos__reservations {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }

  .iconos {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .iconos > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .iconos__tacos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .iconos__beer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .iconos__wine {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .iconos__music {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }

  .taco {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .taco > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .taco > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .taco__taco {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .taco__informacion {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */